/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222;
}


/* Assign Grid Areas */

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


/* Mobile */

.page-wrapper {
    display: grid;

    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";

    gap: 20px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Header */

.header {
    background-color: rgb(124, 163, 196);
    padding: 25px;
}

.header h1 {
    margin-bottom: 8px;
}

.header p {
    color: #666;
}


/* Navigation */

.nav {
    background-color: rgb(154, 154, 154);
    padding: 20px;
}

.nav h2 {
    margin-bottom: 15px;
}

.nav h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.nav a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

.nav a:hover {
    color: #d7dadd;
    font-weight: bold;
}


/* Main */

.main {
    display: grid;

    grid-template-columns: 1fr;

    gap: 20px;
}


/* Cards */

.card {
    background-color: rgb(218, 208, 208);
    padding: 20px;
}

.card h2 {
    margin-bottom: 15px;
}

.card h3 {
    margin-top: 15px;
    margin-bottom: 8px;
}

.card p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.card ul {
    margin-left: 20px;
}


/* Profile Image */

.card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}


.role,
.experience-role {
    font-weight: bold;
    color: #555;
}


/* Footer */

.footer {
    background-color: rgb(124, 163, 196);
    padding: 20px;
    text-align: center;
}


/* Desktop*/

@media (min-width: 768px) {

    .page-wrapper {
        grid-template-columns: 220px 1fr;

        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }


    .main {
        grid-template-columns: repeat(2, 1fr);
    }

    .card1 {
        grid-column: 1 / -1;
    }

}